# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directories, except lib
build/classes
build/generated
build/libs
build/publications
build/reports
build/test-results
build/tmp
